@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

body {
  display: block;
  margin: 0;
}
.App {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/public/back.png');
  background-color: #F3F3F3;
  font-family: "Neucha", cursive;
}
.heading {
  display:flex;
  text-transform: uppercase;
  font-size: 50px;
  margin: 30px 0;
  color: #183153;
  z-index: 1;
  text-align: center;
}

.heading > h4 {
  margin: 0 0 0 25px;
}